@font-face {
    font-family: "Lora";
    src: url("../fonts/Lora.ttf")
}
body {
    font-family: "Lora", serif;
    margin: 0px;
    background-color: #abc2cf;
}
/* header */
#headerPic {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/header.jpg");
    height: 450px;
    background-size: cover;
    background-position: top;
}
#headerLink {
    text-decoration: none;
}
h1 {
    background-color: #2c2c2ce3;
    padding: 0px 60px 7px 60px;
    color: #D4F0FC;
    font-size: 400%;
    letter-spacing: -4px;
    transition: background-color 1s;
}
h1:hover {
    background-color: #222222;
}
/* navbar */
nav {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 1;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    color: #e4e4e4;
    border: solid #000000 1px;
    padding: 20px 0px;
    background-color: #46535e;
    /* background-color: #4a4f53; */
    background-image: linear-gradient(#ffffff00, #30363a);
    /* background-image: linear-gradient(#ffffff00, #333333); */
    font-weight: bold;
    text-decoration: none;
    transition: .2s;
}
.button:hover {
    background-color: #d8d8d8;
    color: #242b30;
    background-image: none;
}
#reducedSearch {
    display: none;
}
#searchForm {
    display: flex;
    width: 20%;
    flex-direction: column;
    background-color: #464646;
    border: solid #000000 1px;
}
#searchField {
    background-color: #e4e4e4;
    border: none;
    border-bottom: #000000 1px solid;
    font-size: 120%;
}
#searchButton {
    border: none;
    color: #e4e4e4;
    background-color: #46535e;
    background-image: linear-gradient(#ffffff00, #30363a);
    padding: 5px 0px;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}
#searchButton:hover {
    background-color: #d8d8d8;
    color: #464646;
    background-image: none;
}
input[type=search] {
    padding: 10px;
    font-size: 15px;
}
/*draggable div*/
#draggable {
    position: absolute;
    z-index: 2;
    background-color: tomato;
    width: 100px;
    height: 100px;
    cursor: grab;

}
/*intro*/
#introTxt {
    font-weight: bold;
    margin: 3em 0;
    padding: 5px 50px 30px 50px;
    font-size: 125%;
    color: #333333;
    background-color: #e4e4e4;
    box-shadow: 0px .5em 10px .5em #222222d3;
}
h2 {
    margin-left: 15%;
    font-size: 225%;
}
#introTxt p {
    text-indent: 2.5em;
    text-align: justify;
    margin-left: 30%;
    margin-right: 15%;
}
/* blocks */
#blockDiv {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.blocks {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e3e3e3;
    background-color: #e4e4e4;
    text-decoration: none;
    width: 30%;
    min-width: 430px;
    height: 30vw;
    min-height: 430px;
    margin: 20px 10px;
    border-radius: 5px;
    overflow: hidden;
    transform: scale(1);
    transition: .5s;
}
.blocks:hover {
    transform: scale(1.05);
}
.blocks:hover .txtDiv {
    opacity: 1;
}
.blocks:hover .blockTitles {
    background-color: #222222;
    bottom: 65%;
}
.blockPics {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}
.blockTitles {
    position: absolute;
    bottom: 40%;
    font-weight: bold;
    font-size: 2em;
    color: #D4F0FC;
    background-color: #2c2c2ce3;
    padding: 4px 60px 4px 50px;
    transition: .3s;
    z-index: 1;
}
.txtDiv {
    background-color: #2c2c2ce3;
    position: absolute;
    height: 100%;
    color: #D4F0FC;
    opacity: 0;
    overflow: hidden;
    transition: opacity .5s;
}
.blockTxts {
    font-size: 1.1em;
    margin: 40% 2em 10% 2em;
    text-indent: 2em;
    text-align: justify;
}
#allTravelsDiv {
    margin: 3.5em 0;
}
#allTravels {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 15em;
    background-color: #2c2c2ce3;
    text-decoration: none;
    color: #d4f0fc;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 2em;
    transform: scale(1);
    transition: .5s;
}
#allTravels:hover {
    background-color: #2c2c2c;
    transform: scale(1.05);
}
/* liste images */
#blockPic-1 {
    background-image: url(../images/blocks/block_1.jpg);
}
#blockPic-2 {
    background-image: url(../images/blocks/block_2.jpg);
}
#blockPic-3 {
    background-image: url(../images/blocks/block_3.jpg);
}
#blockPic-4 {
    background-image: url(../images/blocks/block_4.jpg);
}
#blockPic-5 {
    background-image: url(../images/blocks/block_5.jpg);
}
#blockPic-6 {
    background-image: url(../images/blocks/block_6.jpg);
}
/* footer  */
footer {
    display: flex;
    margin-top: 13em;
    min-height: 3em;
    border-top: 1px solid black;
    background-color: #464646;
    justify-content: center;
    padding-top: 1em;
}
footer a {
    text-decoration: underline solid;
    color: #D4F0FC;
    font-family: Arial, Helvetica, sans-serif;
}
#contact {
    margin: 2em 10%;
    height: 600px;
    width: 80%;
    background-color: tomato;
}
/*      rupture 480 px       */
@media screen and (max-width: 480px) {
    #headerPic {
        height: 200px;
    }
    h1 {
        font-size: 300%;
    }
    nav {
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .button {
        padding: 10px 0px;
        width: 100%;
    }
    #reducedSearch {
        display: flex;
        flex: 1;
    }
    .reducedButton {
        width: 40%;
    }
    #searchForm {
        display: none;
    }
    #introTxt {
        margin: 2em 0;
        padding: 5px 40px;
    }
    #introTxt p {
        text-indent: 2em;
        margin: 2em 10%;
    }
    h2 {
        margin-left: 5%;
        font-size: 200%;

    }
    .blocks {
        min-width: 300px;
        min-height: 300px;
    }
    .blockTitles {
        font-size: 1.8em;
        padding: 2px 30px 2px 25px;
    }
    .blockTxts {
        font-size: 0.9em;
        margin: 40% 1em 10% 1em;
    }
    #allTravels {
        width: 85%;
        padding: 0 5%;
        text-align: center;
    }
}
@media (hover: none) {
    .blocks {
        transform: scale(1.05);
    }
    .txtDiv {
        opacity: 1;
    }
    .blockTitles {
        background-color: #222222;
        bottom: 65%;
    }
}